{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/auth.css') }}"
/>

<div class="register">
  <h2>Login</h2>

  <form method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <div>
      {{field.label()}}
      <div>{{field()}}</div>
    </div>

    {% endfor %} {% for field in form.errors %}
    <div class="auth-form-errors">
      <ul>
        {% for error in form.errors[field] %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

    <button>Continue</button>
  </form>

  <p>Don't have an account? <a href="/register">Sign Up</a></p>
</div>
{% endblock %}
