{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/profile.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/book.css') }}"
/>

<div class="list-view">
  <h1>Your Progression</h1>

  <div class="xp-section">
    <div class="xp-top">
      <p style="display: flex; align-items: center">
        <svg
          style="margin-right: 5px"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="white"
            d="M6 22a3 3 0 0 1-3-3c0-.6.18-1.16.5-1.63L9 7.81V6a1 1 0 0 1-1-1V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1v1.81l5.5 9.56c.32.47.5 1.03.5 1.63a3 3 0 0 1-3 3zm-1-3a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1c0-.21-.07-.41-.18-.57l-2.29-3.96L14 17l-5.07-5.07l-3.75 6.5c-.11.16-.18.36-.18.57m8-9a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1"
          /></svg
        >Lvl. {{level}}
      </p>
      <p class="xp-text">{{experience}} / {{xp_to_next_level}}XP</p>
    </div>

    <div class="xp-bar-container">
      <div class="xp-bar" id="xp-bar"></div>
      <script>
        const experience = /* Your experience value */;
        const xp_to_next_level = /* Your xp_to_next_level value */;

        if (xp_to_next_level !== 0) {
          const widthPercentage = (experience / xp_to_next_level) * 100;
          document.getElementById("xp-bar").style.width = widthPercentage + "%";
        } else {
          document.getElementById("xp-bar").style.width = "0%";
        }
      </script>
    </div>
  </div>

  <h2>Tracked</h2>
  <div class="tracked-books">
    {% for book in books %}
    <div class="book">
      <a href="/book/{{ book.id }}">
        <img
          src="{{ book.volumeInfo.imageLinks.thumbnail }}&fife=h500"
          alt="{{ book.volumeInfo.title }}"
        />
        <h4>{{ book.volumeInfo.title }}</h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
