{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/new_list.css') }}"
/>

<div class="new-list">
  <h2>Track Progress For {{ book_title }}</h2>

  <p>Enter the page number you are currently on.</p>

  <form method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <div>
      {{field.label()}}
      <div>{{field()}}</div>
    </div>

    {% endfor %} {% for field in form.errors %}
    <div class="form-errors">
      <ul>
        {% for error in form.errors[field] %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

    <button>Update Progress</button>

    <a href="/book/{{ book_id }}">Cancel</a>
  </form>
</div>

{% endblock %}
